/****** HEADER STYLING ******/
header {
    height: 100vh;
    background: url(./../../Assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 1950px;
    margin: 0 auto;
}

.headerText h1 {
    margin: 1rem;
    color: white;
    @include fluid-type (3.5rem, 5rem, 360px, 1280px);
}

h2 {
    margin: 0;
    color: white;
}

.headerBorder {
    height: 100%;
    width: 100%;
    border: 5rem solid black;
    position: relative;
    z-index: 15;
}

.headerContent {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 35rem;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.425);
    position: relative;
    z-index: 15;
}

@media (max-width: 440px) {
    .headerContent {
        width: 100%;
    }
}

@media (max-height: 600px) {
    .headerContent {
        padding-bottom: 6rem;
    }
}

.headerText img {
    width: 70%;
    margin: 2% 1% 2% 1%;

    a {
        padding: 10rem;
    }
}

.suiButton {
    cursor: cell;
    margin: 1rem;
}

.WhatsItMean {
    width: 320px;
    color: white;
    background: $blackColor;
    padding: 1rem;
    position: absolute;
    top: 1%;
    right: 4%;
    opacity: 0.75;
    display: none;
}

@media (max-width: 445px) {
    .WhatsItMean {
        width: 100%;
        position: absolute;
        right: 50%;
        left: 50%;
        margin-left: -50%;
    }
}

.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    z-index: 15;
}

.headerText {
    margin-bottom: 6vh;
    display: block;
    width: 90%;
}

i {
    color: white;
    @include fluid-type (3.5rem, 6rem, 360px, 1280px);
    margin: 1rem;
}

i:hover {
    text-shadow: 2px 2px 2px white;
}

.headerButtons i:hover {
    text-shadow: 2px 2px 2px white;
    visibility: visible;
    opacity: 1;
}

.headerButtons i:active,
.headerButtons i:focus,
.headerButtons i:visited {
    text-shadow: 1px 1px 1px #000;
}

.arrowDown {
    position: relative;
    bottom: -12%;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    transform: scale(2);
    padding: 10px;

}

#checkbox {
    cursor: cell;
}

.contactFloat {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 18;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    box-shadow: 3px 3px 3px teal;

    i {
        @include fluid-type (3.5rem, 5rem, 360px, 1280px);
        color: $blackColor;
    }
}

.contactFloat:hover {
    box-shadow: 5px 5px 5px teal;
}

.contactFloat:active,
.contactFloat:focus {
    box-shadow: 2px 2px 2px teal;
}