.skills {
    color: white;
}

h4 {
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.skillDiv {
    background: rgb(2, 0, 36);
    background: linear-gradient(142deg, rgba(2, 0, 36, 1) 0%, rgba(1, 90, 98, 0.8743698162858894) 49%, rgba(3, 92, 115, 1) 100%);
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillOverlay {
    background: rgba(255, 255, 255, 0.212);
    margin: 0 2rem;
    width: 100%;
}

.skillIconDiv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0 auto 3rem auto;
    width: 100%;
}

.skillIcon {
    height: 100%;
    min-height: 100px;
    width: 93%;
    min-width: 100px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 55%;
    }
}

@media (max-width: 600px) {
    .skillIconDiv {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        margin: 0 auto;
        width: calc(100% - 4rem);
    }

    .skillOverlay {
        background: rgba(255, 255, 255, 0.212);
        margin: 0 2rem;
        width: calc(100% - 4rem);
    }

    .skillIcon {
        height: 90%;
        min-height: 70px;
        width: calc(100% / 4);
        min-width: 96px;
        margin: 2rem auto;

        h4 {
            word-break: break;
        }
    }
}