//What I use Section Styling
.useContainer {
    margin: 2rem 1rem auto;
    width: 80%;
}

.inspText {
    margin-bottom: 2rem;
    font-style: italic;
}

.useP {
    font-weight: bold;
}

.itemBold {
    font-weight: bold;
}

.useLi {
    margin-left: 8rem;
}

.useUlSep {
    margin-bottom: 2rem;
}